layout {
  // cwd "~/Projects/dots-and-beyond/"
  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab name="Nvim Config" focus=true cwd="~/Projects/nvim-setup/" {

  }

  tab name="Terminal Configurations" cwd="~/Projects/dots-and-beyond/" {

  }
}
